---

  - name: create local file structure for public shared files
    become: yes
    file: path={{ item.path }} owner={{ samba_force_user }} group={{ samba_force_group }} mode="0775" recurse=yes state=directory follow=no
    with_items: "{{ public_file_shares }}"
    when: public_file_shares is defined
  - name: create local file structure for private shared files
    become: yes
    file: path={{ item.path }} owner={{ samba_force_user }} group={{ samba_force_group }} mode="0770" recurse=yes state=directory follow=no
    with_items: "{{ private_file_shares }}"
    when: private_file_shares is defined
